.contact-form {
  .wpcf7-not-valid {
    background-color: #f7e4ed;
  }
  .wpcf7-not-valid-tip {
    color: #68103a;
  }

  label {
    font-weight: 600;
    font-size: 16px;
    line-height: 29px;
    color: #68103a;
    margin-top: 10px;
    display: block;
  }

  input,
  textarea {
    background: rgba(241, 241, 241, 0.48);
    border: none;
    outline: none;
    width: 100%;
    padding: 15px 23px;
    margin-top: 14px;
    // margin-bottom: 20px;
    font-weight: 400;
    font-size: 16px;
    color: #181818;
  }

  textarea {
    margin-bottom: 0;
  }

  input[type="submit"] {
    background-color: #ba1c68;
    border-radius: 50px;
    font-weight: 600;
    font-size: 16px;
    line-height: 19px;
    color: #fff;
    width: max-content;
    padding: 15px 54px;
    text-align: center;
    cursor: pointer;
    transition: background-color 0.3s cubic-bezier(0.3, 0, 0.22, 1);
    border: 1px solid transparent;
    &:hover {
      color: #ba1c68;
      background-color: #fff;
      border: 1px solid #ba1c68;
    }
  }

  &__container {
    background-color: #ffffff;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
  }

  &__container-holder {
    padding: 22px 30px 43px;
  }

  &__title {
    padding: 22px 0;
    padding-left: 30px;
    border-bottom: 1px solid #f1f1f1;
    font-weight: 600;
    font-size: 26px;
    line-height: 31px;
    color: #ba1c68;
  }

  &__button {
    // position: absolute;
    // right: 0;
    // bottom: 0;
    margin-top: 54px;
    text-align: end;

    .wpcf7-spinner {
      display: none;
    }
  }
}

.wpcf7-response-output {
  border: none !important;
  color: #ba1d68;
  font-weight: 600;
}

@media (max-width: breakpoint(sm)) {
  .p-0-mobile {
    padding: 0 !important;
  }

  .contact {
    padding-bottom: 46px;
  }

  .page {
    &__title {
      font-size: 22px;
      line-height: 26px;
      margin-bottom: 28px;
      border-bottom: 0;
    }

    &__divider {
      display: none;
    }

    &__description {
      margin-bottom: 33px;
    }
  }

  .contact-form {
    background-color: #ffffff;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.15);
    border-radius: 4px;

    input[type="submit"] {
      width: 100%;
      margin: 40px 0;
    }

    &__container {
      border-radius: 0;
      box-shadow: unset;
      background-color: unset;
    }

    &__title {
      font-size: 18px;
      line-height: 21px;
      border-bottom: none;
      padding: 25px 0 20px 24px;
    }

    &__container-holder {
      padding: 0 16px;
    }

    &__button {
      text-align: center;
      margin: 0 20px;
    }
  }
}
