.jobs-list {
  .jobs-gap {
    gap: 30px 0;
  }
  &__job {
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.15);
    margin-bottom: 30px;
    border-radius: 4px;
    height: 209px;
    overflow: hidden;

    &:last-child {
      margin-bottom: 0;
    }
  }

  &__job-image {
    height: 100%;
    min-width: 366px;
    width: 366px;
    object-fit: cover;
  }

  &__job-info {
    padding: 18px 34px 0;
    width: 100%;
  }

  &__job-header {
    width: 100%;
    padding-bottom: 17px;
    border-bottom: 1px solid #c4c4c4;
  }

  &__job-name {
    font-size: 26px;
    font-weight: 600;
    color: #68103a;
  }

  &__job-contact {
    margin-top: 31px;
  }

  &__job-cv {
    font-size: 21px;
    margin-bottom: 30px;

    a {
      font-weight: 700;
      color: #ba1c68;
    }
  }

  &__job-find-us {
    font-size: 17px;

    a {
      color: #ba1c68;
    }
  }
}

@media (max-width: breakpoint(md)) {
  .jobs-list {
    .jobs-gap {
      gap: 40px 0;
    }

    &__job {
      flex-direction: column;
      height: 100%;
      margin-bottom: 0;
    }

    &__job-image {
      min-width: 100%;
      max-width: 100%;
      width: 100%;
      height: 200px;
    }

    &__job-logo {
      display: none;
    }

    &__job-name {
      font-size: 22px;
      line-height: 26px;
    }

    &__job-contact {
      margin-top: 24px;
    }

    &__job-button {
      width: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
      margin-top: 40px;
      margin-bottom: 34px;
    }
  }
}
