.page {
  padding: 88px 0 180px;

  &__title {
    font-size: 28px;
    font-weight: 500;
  }

  &__divider {
    width: 100%;
    height: 1px;
    background-color: #c4c4c4;
    margin: 22px 0;
  }

  &__description {
    margin-bottom: 80px;
    line-height: 1.8;
  }
}
