.pricing-list {
  $el: &;

  &__category {
    border-radius: 4px;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.15);
    margin-bottom: 30px;

    &:last-child {
      margin-bottom: 0;
    }

    &.open {
      #{$el}__category-name {
        color: #ba1c68;
      }

      #{$el}__dropdown-icon {
        transform: rotate(-180deg);

        svg path {
          fill: #ba1c68;
        }
      }
    }
  }

  &__category-header {
    padding: 22px 30px;
    cursor: pointer;
  }

  &__category-name {
    font-size: 26px;
    color: #68103a;
    font-weight: 600;
    transition: color 0.3s ease("fluid");
  }

  &__dropdown-icon {
    transition: transform 0.3s ease("fluid");
  }

  &__category-table {
    max-height: 0;
    overflow: hidden;
    font-size: 17px;
    transition: max-height 0.3s ease("fluid");
  }

  &__category-table-header {
    padding: 22px 43px 14px;
    color: #931752;
    font-weight: 700;
    border-top: 1px solid #f1f1f1;
  }

  &__category-table-row {
    padding: 15px 43px;
    transition: background-color 0.3s ease("fluid");

    &:nth-of-type(2n-2) {
      background-color: #f1f1f17a;
    }

    &:hover {
      background-color: #ba1c681f;

      .pricing-list__category-search__button {
        opacity: 1;
      }
    }
  }

  &__category-search {
    display: flex;
    align-items: center;
    justify-content: space-between;

    &__button {
      font-size: 14px;
      line-height: 16px;
      padding: 9px 29px;
      display: flex;
      align-items: center;
      justify-content: center;
      text-align: center;
      opacity: 0;
      transition: opacity 0.3s ease("fluid");
    }
  }
}

@media (max-width: breakpoint(sm)) {
  .pricing-list {
    padding-bottom: 70px;

    .p-0-mobile {
      padding: 0 !important;
    }

    .page {
      &__title {
        font-size: 22px;
        line-height: 26px;
      }

      &__description {
        margin-bottom: 40px;
        // margin-top: 28px;
      }

      &__divider {
        display: none;
      }
    }

    &__category {
      margin: 0 10px 10px;

      &.open {
        margin-bottom: 43px;
      }
    }

    &__category-header {
      padding: 25px 23px;
    }

    &__category-table-row {
      padding: 15px 32px;
    }

    &__category-name {
      font-size: 18px;
      line-height: 21px;
      color: #ba1c68;
    }

    &__category-search {
      font-size: 15px;
    }

    &__category-search-price {
      font-size: 15px;
    }

    &__dropdown-icon svg {
      path {
        fill: #ba1c68;
      }
    }
  }
}
