.single-blog {
  padding: 94px 0 90px;

  &__title {
    font-size: 34px;
    color: #ba1c68;
    font-weight: 400;
    margin-bottom: 12px;
  }

  &__date {
    font-size: 20px;
    font-family: "Imperial Script", sans-serif;
    margin-bottom: 15px;
  }

  &__split {
    height: 30px;
    display: flex;
    align-items: center;
    width: 100%;
  }

  &__split-line {
    width: 100%;
    height: 1px;
    background-color: #e5e5e5;
    margin-right: 23px;
  }

  &__split-emblem {
    min-width: 58px;
  }

  &__content {
    padding-top: 12px;

    .p1 {
      margin-bottom: 20px;
    }

    .li1 {
      margin-bottom: 15px;
    }
  }

  &__suggested {
    margin: 80px 0;

    &__title {
      font-weight: 600;
      font-size: 20px;
      line-height: 23px;
      margin-bottom: 15px;
      text-transform: uppercase;
    }

    &__treatment {
      background-color: #ffffff;
      box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.15);
      border-radius: 4px;

      &__image {
        width: 100%;
        max-width: 100%;
        object-fit: cover;
        height: 100%;
        max-height: 365px;
      }

      &__content {
        padding: 30px 25px;
      }

      &__heading {
        display: flex;
        align-items: center;
        justify-content: space-between;
        border-bottom: 1px solid rgba(196, 196, 196, 0.6);
        padding-bottom: 15px;
        margin-bottom: 18px;

        &__title {
          font-weight: 600;
          font-size: 26px;
          line-height: 31px;
          color: #68103a;
        }
      }

      &__description {
        line-height: 1.8;
        height: 150px;
        overflow: hidden;
        text-overflow: ellipsis;
        display: -webkit-box;
        -webkit-line-clamp: 5;
        line-clamp: 5;
        -webkit-box-orient: vertical;
        font-weight: 400;
        font-size: 17px;
        line-height: 29px;
        color: #181818;
        margin-bottom: 35px;
      }

      &__bottom {
        display: flex;
        align-items: center;
        justify-content: space-between;

        &__duration {
          display: flex;
          align-items: center;
          font-weight: 600;
          font-size: 17px;
          line-height: 20px;
          color: #68103a;

          svg {
            margin-right: 10px;
          }
        }
      }
    }
  }
}

@media (max-width: breakpoint(sm)) {
  .single-blog {
    padding-top: 40px;

    .morecontent span {
      display: none;
    }

    &__suggested {
      margin: 30px 0;

      &__title {
        font-weight: 700;
        font-size: 22px;
        line-height: 26px;
        text-align: center;
        margin-bottom: 22px;
      }

      &__treatment {
        &__image {
          min-height: 220px;
          max-height: 220px;
        }

        &__heading {
          justify-content: start;
          padding-bottom: 24px;
          margin-bottom: 20px;

          &__logo {
            display: none;
          }

          &__title {
            font-size: 22px;
            line-height: 26px;
          }
        }

        &__content {
          padding: 20px 22px 25px;
        }

        &__description {
          display: block;
          height: 100%;
          margin-bottom: 25px;
        }
        &__bottom {
          flex-direction: column;
          gap: 30px 0;
          align-items: start;
        }
      }
    }
  }
}
